<div id='instructions'>You did it! Here are your results...</div>
<ul>
  <% @answers.each do |name, answer| %>
    <li><%= name %>. Actual: <%= answer.actual %>
                     Given: <%= answer.given %>
  <% end %>
<ul>
